/* CSS PROPERTIES FOR REUSE 
font-color : #9980FA //Social Media Icons
font-color: #ED4C67 //Headings & Body Text
font-color: #1B1464 //Full Page Background

font-style: Inconsolata //Body Text & Main Header
font-style: Spartan //Body Text
font-style: 
*/

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY / MAIN CONTAINER */
.container {
    margin: 20px auto;
    background-color: #1B1464;
}

/* MAIN HEADER */

header {
    padding-left: 20px;
}

header h1 {
    font-family: 'Spartan', Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #EA2027;
}

/* NAVIGATION */

header nav ul {
    list-style-type: none;
}

header nav .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-items li a {
    text-decoration: none;
    margin-right: 25px;
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    color: #ED4C67;
}

.menu-items li a:hover {
    border-bottom: 2px solid #9980FA;
}

/* SECTION-DESCRIPTION */

.description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ED4C67;
}

.description div {
    margin: 10px 0;
}

.description p {
    padding: 10px;
    font-family: spartan;
    font-size: 25px;
}

span {
    color: white;
}

.description .work-button {
    border: 2px solid #ED4C67;
    padding: 5px;
    border-radius: 50px;
}

.description .work-button {
    background-color: #EA2027;
    border: 2px solid #9980FA;
}

.description .work-button a {
    text-decoration: none;
    color: white;
    
}

/* PROJECT SHOWCASE */

.showcase h2 {
    padding-bottom: 5px;
    color: #ED4C67;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #9980FA;
}

.project-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.project-gallery .projects img {
    max-width: 100%
}

.project-gallery .projects p {
    text-align: center;
    font-family: spartan;
    color: #ED4C67;
    padding: 10px;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;
}

footer .contact-me-button a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.contact-info .contact-me-button {
    background-color: #EA2027;
    border: 2px solid #9980FA;
    border-radius: 25px;
}

.social-media-icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.social-media-icons div {
    padding: 20px;
}
footer .social-media-icons a img {
    width: 100px;
}

footer div:last-of-type {
    color: #EA2027;
}

footer div:last-of-type a {
    color: #009432
}